<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <script
      defer
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    ></script>
    <script defer src="/script.js"></script>
    <title>Planner</title>

  </head>
  <body id="body">

    {{{body}}}
  </body>
</html>

<script>
  const dynamicColorDivs = document.getElementsByClassName("dynamic-color");
  const dynamicBgDivs = document.getElementsByClassName("dynamic-background");
  const updateLevels = (level) => { for (let index = 0; index <
  dynamicColorDivs.length; index++) { const div = dynamicColorDivs[index]; if
  (level === 1) { div.style.color = "38B5C0"; } else if (level === 2) {
  div.style.color = "A300A0"; } else if (level === 3) { div.style.color =
  "FFBD00"; } else if (level === 4) { div.style.color = "FF950A"; } else if
  (level === 5) { div.style.color = "E47362"; } else if (level === 6) {
  div.style.color = "ef2d56"; } else if (level === 7) { div.style.color =
  "green"; } else if (level === 8) { div.style.color = "84C318"; } else if
  (level === 9) { div.style.color = "f52314"; } else if (level >= 10) {
  div.style.color = "black"; } } for (let index = 0; index <
  dynamicBgDivs.length; index++) { const div = dynamicBgDivs[index]; if (level
  === 1) { div.style.backgroundColor = "38B5C0"; } else if (level === 2) {
  div.style.backgroundColor = "A300A0"; } else if (level === 3) {
  div.style.backgroundColor = "FFBD00"; } else if (level === 4) {
  div.style.backgroundColor = "FF950A"; } else if (level === 5) {
  div.style.backgroundColor = "E47362"; } else if (level === 6) {
  div.style.backgroundColor = "ef2d56"; } else if (level === 7) {
  div.style.backgroundColor = "green"; } else if (level === 8) {
  div.style.backgroundColor = "84C318"; } else if (level === 9) {
  div.style.backgroundColor = "f52314"; } else if (level >= 10) {
  div.style.backgroundColor = "black"; } } }; const backendUserDataHandler =
  async () => { const response = await fetch("/dashboard/data"); const data =
  await response.json(); const level = data[0].level; updateLevels(level); };
  backendUserDataHandler();

</script>