<style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      section {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }

      section .container {
        position: relative;
        min-width: 80%;
        min-height: 550px;
        display: flex;
        z-index: 1000;
      }

      section .container .tag {
        position: absolute;
        top: 40px;
        width: 350px;
        height: 30%;
        background: #000;
        color: #fff;
        z-index: 1;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
      }

      section .container .content {
        position: absolute;
        padding: 70px 50px;
        margin-left: 150px;
        padding-left: 250px;
        width: 80%;
        box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
      }

      section .container .content img {
        position: relative;
        display: block;
        margin: auto;
        max-width: 95%;
      }

      section .container .content hr {
        margin-top: 0px;
        margin-bottom: 20px;
        color: #707070;
      }

      section .container .content h2 {
        margin-bottom: 2px;
        margin-left: 1%;
        margin-top: 3%;
      }

      section .container .content ul {
        margin-left: 10%;
      }
    </style>
 
 
    <section>
      <div class="container">
        <div class="tag">
          <div>
            <h2>About</h2>
          </div>
        </div>
        <div class="content">
          <h2>Programing Toolkit and Planner AKA Code Planner</h2>
          <hr />
          <img
            src="https://camo.githubusercontent.com/cbb1a468b5217a9816cd74d51c522024a3b7901d80fc72f3994e2f122f6a19da/68747470733a2f2f6862722e6f72672f7265736f75726365732f696d616765732f61727469636c655f6173736574732f323031372f30392f6f637431372d30342d3632333435353230302e706e67"
          />
          <h2>Introduction</h2>
          <hr />
          <p>
            The most important task for any programmer is to organise their
            workflow in a way to attain maximum efficiency and productivity.
            An individual requires various sources and apps to acheive
            the optimum workflow for productivity. Our web app - CodePlanner,
            eases this process by providing all the necessary tools, integrated
            in one web application for your hastlefree productivity
            experience as a programmer.
          </p>
          <h2>Aim</h2>
          <hr />
          <p>
            On the basis of our research in the domains of productivity and
            efficiency practices for coding, we have come up with various
            techniques and rules that help in increasing the output of your
            efforts put to coding, significantly. As of now, if a programmer
            wants to work on a project they have to open several tabs for
            note making, project planning, git commits, etc which hinders with
            workflow and minimizes the tempo at which one can code optimally.
          </p>
          <br>
          <p>
            With <b>Code Planner</b> you can acheive your optimal workflow
            with a single login on our app which will provide you with plethora
            of options to choose from to enhance your productivity.
          </p>
          <h2>Features</h2>
          <hr />
          <ul>
            <li>Color Palette</li>
            <li>To-Do List</li>
            <li>Pomodoro</li>
            <li>Notes</li>
            <li>Login Session</li>
            <li>Many more miscellaneous Features</li>
          </ul>
        </div>
      </div>
    </section>
    </div>
