<div class="ColorPalette">
  <h1 id="heading">color palette </h1>
  <form action="/dashboard" method="GET">
    <button id="goback-btn">go back</button>
  </form>

  <div class="color-generator-wrapper-position">
    <div class="color-generator-wrapper-display">

      <button id="generate-colors">Generate Random</button>
      <button id="save-colors">save</button>

    </div>
    <div class="color-container-wrapper">
      <div id="container01" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container02" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container03" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container04" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
      <div id="container05" class="color-container">
        <h3 class="color-code">color code</h3>
      </div>
    </div>
  </div>

  <div class="color-save-wrapper-position">
  </div>
</div>