<div class="dashboard">
  {{! SECTION }}
  <section id="section">
    {{!-- <img id="logo" src="/images/logo.png" alt="" /> --}}
    {{!-- <img id="logo" src="/images/logo-final.png" alt="" /> --}}
    <h1 id="logo">Code Planner</h1>
    
    <div class="dashboard-btns">
      <form action="/logout" method="POST">
        <button>Log out</button>
      </form>
      <form action="/profile" method="POST">
        <button id="profile-btn">Profile</button>
      </form>
     <a href="https://github.com/vishesh-bajpayee-au16" target="_blank">

        <i id="githubBtn" class="fab fa-github"></i>
     </a>
    </div>

    <div class="wrapper">
     <a href="/dashboard/colorpallette">
      <div class="content">
        <i class="fas fa-palette"></i>
        <div class="sub-content">
          <h1>Color Pallette</h1>
          <p>Keep track of commits</p>
        </div>
     </a>
      </div>
      <a href="/dashboard/todo">
      <div class="content">
        <i class="far fa-list-alt"></i>
        <div class="sub-content">
          <h1>To-do </h1>
          <p>Never miss anything</p>
        </div>
      </div>
      </a>
     <a href="/dashboard/notes">
       <div class="content">
        <i class="far fa-sticky-note"></i>
        <div class="sub-content">
          <h1>Notes</h1>
          <p>Every point is worth noting</p>
        </div>
     </a>
      </div>
      <a href="/dashboard/pomodoro">
      <div class="content">
        <i class="far fa-clock"></i>
        <div class="sub-content">
          <h1>Pomodoro</h1>
          <p>Increase your productivity</p>
        </div>
      </div>
      </a>
    </div>
    </section>
  {{! ASIDE }}
  <aside>

    <div class="links">
     <div class="link-display">
        <a href="/about">About</a>
      <a href="/contactus">contact</a>
     </div>  
    </div>



    <div class="search-bar">
      <input placeholder="Search" type="text" name="search" id="search" />
      <i class="fas fa-search"></i>

    </div>
    {{! CARDS CONTAINER }}
    <div class="card-main">
      <h1> <span class="dynamic-color">Welcome</span> {{userObj.username}}!</h1>
      <h4>Few steps to get started.</h4>

      <div class="step-icons">

        <div id="add-repository" class="item">
          <i class="fas fa-code-branch dynamic-color"></i>
          <h6 class="dynamic-color">Add repository*</h6>
        </div>

        <a
          href="https://www.youtube.com/channel/UCLJKg2C6Sk9xe3Qd11dMkaw"
          target="_blank"
        >
          <div class="item">
            <i class="fab dynamic-color fa-youtube"></i>
            <h6 class="dynamic-color">Watch a guide </h6>

          </div>
        </a>
        <a
          href="https://opensource.com/article/17/5/30-best-practices-software-development-and-testing"
          target="_blank"
        >
          <div class="item">
            <i class="fas dynamic-color fa-book"></i>
            <h6 class="dynamic-color">Good practices</h6>
          </div>
        </a>
        {{! HIDDEN CONTENT }}
      </div>
      <form action="/dashboard/get-repo" method="POST">
        <div class="input-field">
          <input type="text" name="userRepo" id="githubinput" />
          <button type="submit" id="addrepoBtn">add repository</button>
        </div>
      </form>
    </div>

    <div class="recentActivity">
      <h2>Recent Activity</h2>
      <div class="activity-wrapper-position">
        <div class="activity-wrapper-display">
        
        </div>
        
      </div>
    </div>

    <div class="quoteWrapper">
        <h1 class="dynamic-color">Quote</h1>
        <h2 id="quote">{{quote}}</h2>
        <h5  id="author">{{author}}</h5>
      
    </div>

    
  </aside>

</div>

<script>
  const btnClick = document.getElementById("add-repository");
const inputField = document.getElementsByClassName("input-field")[0];
const quote = document.getElementById("qoute");
const activityWrapper = document.querySelector(".activity-wrapper-display");
btnClick.addEventListener("click", () => {
  if (inputField.style.display === "none") {
    inputField.style.display = "block";
  } else {
    inputField.style.display = "none";
  }
});

const updateRecentActivity = async function () {
  const response = await fetch("/dashboard/recentactivityupdate");
  const data = await response.json();
  activityWrapper.innerHTML += [...data];
  console.log(data);
};

updateRecentActivity();

</script>