<div class="dashboard">
  <section id="section">
    <img src="/images/logo.png" alt="" />
    <div class="dashboard-btns">
      <button>Profile</button>
      <button>Log out</button>
    </div>

    <div class="wrapper">
      <div class="content">
        <div class="sub-content">
          <h1>Notes</h1>
          <p>Every point is worth noting</p>
        </div>
      </div>
      <div class="content">
        <div class="sub-content">
          <h1>To-do </h1>
          <p>Never miss anything</p>
        </div>
      </div>
      <div class="content">
        <div class="sub-content">
          <h1>Commit count</h1>
          <p>Keep track of commits</p>
        </div>
      </div>
      <div class="content">
        <div class="sub-content">
          <h1>Pomodoro</h1>
          <p>Increase your productivity</p>
        </div>
      </div>
    </div>

  </section>
  <aside>
    <h1>Welcome {{username}}</h1>

  </aside>

</div>