<div class="landingPage">
  <header>
    <ul>
      <li><a id="active" href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>

  </header>

  <section>
    <div class="box"></div>
    <div class="img">
      <img id="logo" src="/images/logo.png" alt="" />
    </div>

    <form action="/login" method="POST">
      <div class="login-section">
        <h1>Login</h1>
        <h2>username</h2>
        <input type="text" name="username" id="username" />

        <h2 id="password">password</h2>
        <input type="password" name="password" id="password-inp" />
        <button type="submit" id="login-btn">login</button>
        <a href="/signup">create an account</a>
      </div>
    </form>
  </section>

  <aside>
    <h1> <span>Code</span> at differet level</h1>
    <p>Commit counts, Notes, To-do lists and many more in just one webapp</p>

  </aside>

</div>