<div class="notes">
  <div class="container">
    <i id="addBtn" class="fas fa-plus"></i>
    <input placeholder="Title" type="text" name="title" id="title-input" />
    <textarea
      placeholder="write a note"
      type="text"
      name="note"
      id="note-input"
    ></textarea>
  </div>
  <div class="wrapper">
    <div class="note-wrapper">

    </div>

  </div>
</div>