<div class="notes">
  <h1 id="heading">Notes</h1>
  <div class="container">

    <i id="addBtn" class="dynamic-color fas fa-plus"></i>

    <input
      class="dynamic-color"
      placeholder="Title"
      type="text"
      name="title"
      id="title-input"
    />
    <textarea
      placeholder="write a note"
      type="text"
      name="note"
      id="note-input"
    ></textarea>
  </div>

  <div class="wrapper">
    <div class="note-wrapper">
      {{#each notes}}
        <div id="{{this.title}}" class="note">
          <h1 class="dynamic-color" contenteditable>{{this.title}}</h1>
          <p contenteditable>{{this.content}}</p>
          <div class="button-wrapper">
            <i id="highlight" class="fas fa-star"></i>
            <i id="delete" class="far dynamic-color fa-trash-alt"></i>
          </div>
        </div>
      {{/each}}
    </div>

  </div>

  <form action="/dashboard" method="GET">
    <button id="gobackBtn" type="submit">Go back</button>
  </form>
  <form action="/logout" method="POST">
    <button id="signout" type="submit">Log out</button>
  </form>

  <button id="clear-all" type="submit">clear all</button>

</div>

{{! <script>
  

</script> }}