<div class="pomodoro">
  <h1 id="heading">Pomodoro</h1>
  <form action="/dashboard" method="GET">
    <button id="goback-btn">go back</button>
  </form>
  <div class="btn-wrapper">
    <div class="btn-position-wrapper">
      <button id="create-btn">Create</button>

    </div>
  </div>

  <div class="hidden-btn-position-wrapper">
    <div class="hidden-wrapper">
      <button id="custom-timer-btn" class="default-btn">custom</button>
      <button id="default-timer-btn" class="default-btn">default</button>
    </div>
  </div>

  <div class="hidden-set-timer-wrapper-position">
    <div class="hidden-set-timer-wrapper-flex">
      <div class="hidden-set-timer-wrapper">
        <h3>timer:
          <input
            placeholder="enter timer in minutes"
            type="number"
            name="timer"
            id="timer"
          /></h3>
        <h3>break: <input type="number" name="break" id="break" /></h3>
        <button id="begin-set">begin</button>
      </div>
    </div>
  </div>

  <div class="hidden-default-timer-wrapper-position">
    <div class="hidden-default-timer-wrapper-flex">
      <div class="hidden-default-timer-wrapper">
        <h3>timer: 25 minutes
        </h3>
        <h3>break: 5 minutes </h3>
        <button id="begin-default">begin</button>
      </div>
    </div>
  </div>

  <div class="timer-wrapper-position">
    <div class="timer-wrapper">
      <div class="timer-container">
        <h1 class="time-indicator">25</h1>
      </div>
      <div class="timer-container">
        <h1 class="time-indicator">25</h1>
      </div>
      <div class="timer-container">
        <h1 class="time-indicator">25</h1>
      </div>
      <div class="timer-container">
        <h1 class="time-indicator">25</h1>
      </div>
    </div>
  </div>

  <div class="break-wrapper-position">
    <div class="break-wrapper">
      <div class="break-container">
        <h4>5</h4>
      </div>
      <div class="break-container">
        <h4>5</h4>
      </div>
      <div class="break-container">
        <h4>5</h4>
      </div>
    </div>
  </div>

  <div id="finish-wrapper">
    <h1 id="finish-text">congratulations You have completed 5 pomodoros</h1>
    <form action="/dashboard/pomodoro" method="POST">
      <button id="reset">reset</button>
    </form>
  </div>

</div>