<div class="profile">
  <div class="container">

    <div class="btn-container">
      <a href="/dashboard"><button>Go back</button></a>
    </div>
    <div class="text-wrapper">

      <h1>Hi! <span>{{userDetails.username}}</span></h1>

    </div>

    <div class="info-container">
      <h1 id="heading">Your Activity</h1>
      <div class="main-wrapper">
        <div class="profile-wrapper">
          <i class="fab fa-github"></i>
          <h1>Total commits</h1>
          <h2>04</h2>
        </div>

        <div class="profile-wrapper">
          <i class="far fa-list-alt"></i>
          <h1>Total todo</h1>
          <h2>{{todoCount}}</h2>
        </div>

        <div class="profile-wrapper">
          <i class="far fa-sticky-note"></i>
          <h1>Total notes</h1>
          <h2>{{notesCount}}</h2>
        </div>

        <div class="profile-wrapper">
          <i class="far fa-clock"></i>
          <h1>Total pomodoro</h1>
          <h2>11</h2>
        </div>
      </div>

    </div>

  </div>
</div>