<style>
  @import
  url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
  * { margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins",
  sans-serif; } section { position: relative; display: flex; justify-content:
  center; align-items: center; min-height: 100vh; } section .container {
  position: relative; min-width: 80%; min-height: 550px; display: flex; z-index:
  1000; } section .container .contactinfo { position: absolute; top: 40px;
  width: 350px; height: 30%; background: #000; z-index: 1; padding: 40px;
  display: flex; flex-direction: column; justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2); } section .container .contactinfo
  h2 { color: #fff; font-size: 24px; font-weight: 500; } section .container
  .contactform { position: absolute; padding: 70px 50px; margin-left: 150px;
  padding-left: 250px; width: 80%; height: 100%; box-shadow: 0 50px 50px rgba(0,
  0, 0, 0.5); } section .container .contactform h2 { margin-top: 20%; font-size:
  24px; font-weight: 400; text-align: center; } section .container .contactform
  p { font-size: 48px; font-weight: 200; text-align: center; }
</style>

<section>
  <div class="container">
    <div class="contactinfo">
      <div>
        <h2>Contact Us</h2>
      </div>
    </div>
    <div class="contactform">
      <h2>Your message has been sent successfully.</h2>
      <br /><br />
      <p>Thank you! <i class="far fa-smile"></i></p>
    </div>

    <a
      target="_blank"
      style="color: black; text-decoration: none; position:absolute; bottom: 10vh; left: 78vh; font-weight: 500;"
      href="/dashboard"
      id="go-back"
    >go back to dashboard</a>
  </div>
</section>