<div class="todo">
  <h1 id="heading">Todo List</h1>

  <button id="clear-all">Clear all</button>
  <form action="/dashboard" method="GET">
    <button type="submit" id="gobackBtn">Go back</button>
  </form>

  <form action="/logout" method="POST">
    <button type="submit" id="signout">Log out</button>
  </form>
  <div class="todo-wrapper">
    <div class="create-todo">
      <input placeholder="Add Item" type="text" name="item" id="item" />
      <i id="add-btn" class="fas fa-plus"></i>

    </div>

    <div class="todo-items-list">
      <div class="todo-item">
        <h1 id="item-value">Awesome</h1>
        <div class="icon-wrapper">
          <div class="icons">
            <i id="popup" class="fas fa-plus"></i>
            <i id="delete" class="far fa-trash-alt"></i>
            <i id="check" class="fas fa-check-square"></i>
            <i id="strike" class="fas fa-strikethrough"></i>
            <i id="copy" class="far fa-copy"></i>
            <i id="edit" class="far fa-edit"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>