<div class="todo">
  <h1 id="heading">Todo List</h1>

  <div class="todo-wrapper">
    <input placeholder="Add Item" type="text" name="item" id="item" />
    <i class="fas fa-plus"></i>
  </div>
</div>