* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// LANDING PAGE
.landingPage {
  //   header
  header {
    width: 100vw;
    height: 7vh;
    ul {
      position: absolute;
      right: 40px;
      display: flex;
      justify-content: flex-end;

      li {
        list-style-type: none;
        line-height: 7vh;
        padding-left: 40px;

        a {
          color: black;
          font-size: 20px;
          text-decoration: none;
        }
      }
    }
  }
  // section
  section {
    width: 25vw;
    background-color: black;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: -0vh;
  }
}
